# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.venv/

# React
node_modules/
build/
dist/
*.log
*.env
*.tsbuildinfo

# Chainlit
.chainlit/
.files/

# Database
database/

# IDE and Editor Configs
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.swp